body{
	background-image:url("background.jpg");
}
.color{
	background-color: white;
}
.pad{
	padding-left: 90px;
}
.text{
	font-family:serif;
	font-size: 25px;
	color:black;
	font-weight: bold;
}
.text2{
	font-size: 30px;
	font-family: sans-serif;
}
.girl{
	text-transform: capitalize;
	font-weight: bolder;
	font-family: monospace;
}
.button{
	border-radius: 0px;
}
#modal{
	background-image: url("env.jpg");
}
.form{
	text-align: center;
	color: white;
	font-family: monospace;
	font-weight: bold;
}
.bose{
	width: 70%;
}
