body {
    background-image: url('./background.jpg');
}

.color {
    background-color: white;
}

.pad {
    padding-left: 90px;
}

.text {
    font-family: serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.text2 {
    font-size: 30px;
    font-family: sans-serif;
}

.girl {
    text-transform: capitalize;
    font-weight: bolder;
    font-family: monospace;
}

.button {
    border-radius: 0px;
}

#modal {
    background-image: url("env.jpg");
}

.form {
    text-align: center;
    color: white;
    font-family: monospace;
    font-weight: bold;
}

.bose {
    width: 70%;
}


/* Typed JS */

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: #999;
}

button {
    padding: 10px;
    border-radius: 3px;
    background: #E0E0E0;
    border: #CCC 1px solid;
}

p {
    line-height: 2em;
    margin: 0 0 20px;
    text-align: center;
}

hr {
    border: 0;
    border-bottom: #CCC 2px solid;
    margin: 30px auto;
}

.title {
    font-size: 4em;
}

.wrap {
    max-width: 600px;
    margin: 50px auto;
}

.type-wrap {
    margin: 10px auto;
    padding: 20px;
    background: #f0f0f0;
    border-radius: 5px;
    border: #CCC 1px solid;
}

.links {
    margin: 20px 0;
    font-size: 0.75em;
}


/* Preloader  */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}